<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Itemario - Analysis</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="multianalysis.component.css">
</head>
<body>
  <!-- Navigation Component -->
  <app-navbar></app-navbar>

  <!-- Main Content -->
  <main id="main-content" class="container-fluid d-flex align-items-center justify-content-center">
    <section id="multianalysis">
      <div class="text-center">
        <h2>Price Analysis for All Selected Products</h2>
        <canvas id="canvas" class="chart-canvas"></canvas>
      </div>
    </section>
  </main>
  
  
  <!-- Footer Component -->
  <app-footer></app-footer>

  <!-- Bootstrap and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
