body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  .navbar {
    background-color: #f8f9fa !important;
  }
  
  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar-nav .nav-link {
    font-size: 18px;
  }
  
  #start-container {
    background-color: #f2f2f2;
    padding: 40px 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }
  
  #start-container h2 {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
  }
  
  #start-container p {
    font-size: 18px;
    color: #666;
    margin-bottom: 15px;
  }
