/* Additional styles for the analysis page */
#analysis {
    background-color: #f2f2f2;
    padding: 40px 0;
    width: 100%;
    height: 100%;
  }
  
  #analysis h2 {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Add this CSS to center the chart canvas */
  .chart-canvas {
    max-width: 800px; /* Set maximum width */
    margin: 0 auto; /* Center horizontally */
    display: block; /* Ensure it's a block-level element */
  }