body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
  }
  
  .navbar {
    background-color: #f8f9fa !important;
  }
  
  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar-nav .nav-link {
    font-size: 18px;
  }
  
  #itemario {
    background-color: #f2f2f2;
    padding: 40px 0;
  }
  
  #itemario h2 {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
  }
  
  #itemario p {
    font-size: 18px;
    color: #666;
  }

  .button-container {
    text-align: center;
    margin-top: 20px; 
  }

  footer {
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
  }
  
  @keyframes slideInFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  #main-content {
    animation: slideInFromLeft 2s ease-in-out;
  }
  