<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Itemario</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="home.component.css">
</head>
<body>
  <app-navbar></app-navbar>

  <main id="main-content" class="container d-flex align-items-center justify-content-center" style="min-height: calc(94.85vh - 100px);">
    <section id="itemario">
      <div class="text-center">
        <h2>Welcome to Our Price Evaluation Platform</h2>
        <p>Our platform is dedicated to providing you with accurate pricing information for various items, based on evidence and real-world data. Whether you're buying or selling, knowing the true value of an item can make all the difference. Our team of experts meticulously researches market trends, historical data, and other relevant factors to ensure that you get the most reliable price estimates possible. Say goodbye to guesswork and uncertainty - trust our platform to help you make informed decisions!</p>
      </div>
      <div class="button-container" *ngIf="!currentUser">
        <a href="/signup" class="btn btn-primary mr-3">Register</a>
        <a href="/login" class="btn btn-secondary">Login</a>
      </div>
    </section>
  </main>
  
  <app-footer></app-footer>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
